{{! Comment Form }}

<div class="form-group-comment">
  <form id="comment-form">
    <label for="comment-form"><strong>COMMENT</strong></label>
    <div class="comment-form-txt">
      <textarea class="form-control" id="comment"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>