<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Byte Size Blog</title>
  </head>
  <body>
    <header>
      <nav class="mainNav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
        </ul>
        <p>Login</p>

      </nav>
      <section class="hero">
        <img src="/images/21004063.jpg" alt="" />
        <h1>Byte Size Blog</h1>
      </section>
    </header>
    <main>
      <h2>No Posts Yet!</h2>
    </main>
    <footer>
      <h3>Byte Size Blog</h3>
    </footer>
  </body>
</html>