<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Byte Size Blog</title>
  </head>

  <body>
    <header>
      <nav class="mainNav">
        <div class="loggedIn-nav">
           
            {{#if logged_in}}
             <ul >
              <li><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <a  id="logout">Logout</a>
        </div>
        {{else}}
        <div class="loggedOut-nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
            </ul>
              <a href="/login">Login</a>
          </div>
        {{/if}}
      </nav>
       <section class="hero">
        <img src="/images/21004063.jpg" alt="" />
        <h1>Byte Size Blog</h1>
      </section>
    </header>


    <main>
      {{{body}}}
    </main>

    <footer>
      <h3>Byte Size Blog</h3>
    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>