<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{! <link rel="stylesheet" type="text/css" href="/css/style.css" /> }}
    <title>Byte Size Blog</title>
  </head>
  <body>
    <header>
      <nav class="mainNav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/api/dashboard">Dashboard</a></li>
        </ul>

        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a id="login" href="/login">Login</a>
        {{/if}}

      </nav>
      <section class="hero">
        <img src="/images/21004063.jpg" alt="" />
        <h1>Byte Size Blog</h1>
      </section>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h3>Byte Size Blog</h3>
    </footer>
    {{#if logginIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>