body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 115px 10px 85px;
  background-color: black;
}
.mainNav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.mainNav a:hover {
  color: #ffcd29;
}
.mainNav btn-no-style {
  background-color: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-emphasis: none;
  font-size: 2rem;
}
.mainNav ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.mainNav ul li {
  list-style: none;
  color: white;
}
.mainNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: #ffcd29;
  margin: 70px 0 70px 50px;
  align-items: center;
}
.hero img {
  width: 300px;
}
.hero h1 {
  align-items: center;
  margin: auto;
  font-size: 8rem;
}
.headerTitle {
  display: flex;
  align-items: center;
}
.noPosts {
  margin: 370px auto 370px;
  font-size: 3rem;
  text-align: center;
}
.newPostBtn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 15px 25px;
  cursor: pointer;
  margin: 400px 0 25px 45%;
}
.newPostBtn:hover {
  color: #ffcd29;
  background-color: rgba(0, 0, 0, 0.911);
}

footer {
  background-color: black;
}
footer h3 {
  font-size: 8rem;
  color: #ffcd29;
  margin: 10px;
  text-align: center;
  padding: 50px 0;
}
main h2 {
  margin: 400px 0;
  text-align: center;
  font-size: 5rem;
}

@media screen and (max-width: 1245px) {
  .hero h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1035px) {
  .hero img {
    width: 300px;
  }
}
@media screen and (max-width: 930px) {
  .hero img {
    width: 200px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  footer h3 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 670px) {
  .hero img {
    width: 150px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero {
    margin-left: 0;
  }
  .mainNav {
    padding: 10px 25px 0 0;
  }
  .mainNav ul li a {
    font-size: 1.5rem;
  }
  .mainNav p {
    font-size: 1.5rem;
  }
  .mainNav ul {
    width: 200px;
  }
}
@media screen and (max-width: 465px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero {
    margin: 30px 0 30px 0;
  }
  footer h3 {
    font-size: 2.3rem;
  }
  .mainNav {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .mainNav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .mainNav p {
    margin: 15px 0 0 0;
  }
  main h2 {
    font-size: 3rem;
  }
}
